# Default values for bifrost-gateway-controller

controllerManager:
  # controller-manager deployment configuration
  manager:

    image:
      repository: ghcr.io/tv2-oss
      name: bifrost-gateway-controller
      # -- Image tag. Defaults to `.Chart.appVersion`
      tag: ""
      pullPolicy: IfNotPresent

    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi

    livenessProbe:
      httpGet:
        path: /healthz
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 20

    readinessProbe:
      httpGet:
        path: /readyz
        port: 8081
      initialDelaySeconds: 5
      periodSeconds: 10

    rbac:
      additionalPermissions: []
      # Example
      # - apiGroups:
      #   - networking.k8s.io
      #   resources:
      #   - ingresses
      #   verbs:
      #   - create
      #   - delete
      #   - get
      #   - list
      #   - patch
      #   - update
      #   - watch

  # Annotations to add to the deployment
  annotations: {}

  # Annotations to add to the pod
  podAnnotations: {}

  replicas: 1

  deploymentStrategy:
    type: Recreate

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}

metricsService:
  ports:
  - name: http
    port: 8080
    protocol: TCP
  type: ClusterIP
