name: E2E-test

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Install KIND
        uses: helm/kind-action@v1.3.0
        with:
          install_only: true

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          install-only: true

      - name: Build controller and container
        run: |
          make build docker-build

      - name: Setup E2E KIND cluster
        run: |
          make setup-e2e-test-cluster

      - name: Deploy controller to cluster
        run: |
          make cluster-load-controller-image deploy

      - name: Run E2E test suite
        run: |
          make e2e-test
